# Telecom Customer Churn Classification

## Problem Statement :  
Telecommunication companies face persistent customer churn, where subscribers discontinue services due to dissatisfaction, competitive offers, or unmet expectations. High churn rates erode revenue, inflate customer acquisition costs, and destabilize long-term growth. Traditional reactive strategies, such as last-minute retention offers, often fail to address root causes like poor service experiences, pricing dissatisfaction, or lack of personalized engagement. Without granular insights into behavioral trends, contract preferences, or service usage patterns, providers struggle to identify at-risk customers early. A proactive analysis of demographic, billing, and service adoption data is critical to predict churn risks, tailor retention efforts, and enhance customer loyalty in an increasingly saturated market.

## Aim : 
The goal is to identify potential churn customers by analyzing numerical and categorical features, tackling a binary classification problem while addressing dataset imbalances for accurate predictions.

The dataset contains a variety of features that offer critical insights into customer profiles and interactions. Unique identifiers (**customerID**), demographic markers like **gender**, and a binary classification for elderly customers (**SeniorCitizen**) form the foundational customer-specific attributes.  

Household dynamics are captured through relational indicators such as the presence of a **Partner** or **Dependents**, shedding light on familial obligations. The **tenure** metric quantifies the customer’s engagement duration (in months) for simplified trend analysis.  

Telecom service usage is detailed through attributes like **PhoneService**, reflecting basic connectivity, and **MultipleLines**, highlighting multi-device subscriptions. Internet-related variables include the type of **InternetService** (DSL, Fiber Optic, or None) and supplementary safeguards such as **OnlineSecurity**, **OnlineBackup**, **DeviceProtection**, and **TechSupport**, which indicate the depth of digital service adoption.  

Entertainment preferences are gauged through **StreamingTV** and **StreamingMovies**, revealing consumption habits tied to digital content. Commitment levels are defined by the **Contract** type, ranging from flexible month-to-month agreements to long-term 1- or 2-year plans.  

Billing behavior is dissected using **PaperlessBilling**, which flags eco-friendly digital invoicing adoption, and **PaymentMethod**, specifying transactional preferences like electronic checks, mailed checks, bank transfers, or credit card payments. 

Financial metrics include **MonthlyCharges**, the recurring fee billed each month, and **TotalCharges**, the cumulative revenue generated per customer.

Finally, retention dynamics are anchored to the **Churn** attribute, which tracks customer attrition.

### Importing Libraries

To proceed with the analysis, we need to import the essential libraries. These libraries provide the necessary tools and functions to manipulate, visualize, and analyze the dataset effectively. The following libraries will be imported for this purpose.

In [1]:
# importing libraires
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# loading the dataset
df = pd.read_csv('../data/Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Data Overview

In [3]:
# checking the shape of the dataset
df.shape

(7043, 21)

In [4]:
# checking the columns of the dataset
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
# checking the information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
# checking the statistical summary of the dataset
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

## Data Pre-processing

In [7]:
# replacing the missing values with NaN
df.replace(' ', np.nan, inplace=True)

In [8]:
#handling missing values
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

Most of the columns has 0 missing values except `Total Charges` which has **11** missing values. By analysing the data, it observed that **Total Charges = Monthly charges * Tenure**. So, I will impute the missing value with these calculation.

In [9]:
# Convert TotalCharges to numeric
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

# Replace missing TotalCharges with tenure * MonthlyCharges
df['TotalCharges'] = df['TotalCharges'].fillna(df['tenure'] * df['MonthlyCharges'])

# Handle any remaining missing values
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].median())

# Validate results
print("Missing values after processing:", df['TotalCharges'].isna().sum())

Missing values after processing: 0

**Here, I planned to create few new columns which might helps further in EDA and model building.**

In [10]:
# Tenure grouping
df['TenureGroup'] = pd.cut(df['tenure'], 
                           bins=[-1, 12, 24, 60, 100], 
                           labels=['0-1yr', '1-2yr', '2-5yr', '5+yr'])
df[['TenureGroup','tenure']].head()

  TenureGroup  tenure
0       0-1yr       1
1       2-5yr      34
2       0-1yr       2
3       2-5yr      45
4       0-1yr       2

In [11]:
# Charge ratio
df['ChargeRatio'] = df.apply(lambda row: round(row['TotalCharges'] / row['tenure'], 2) if row['tenure'] != 0 else 0, axis=1)
df['ChargeRatio'].head()

0    29.85
1    55.57
2    54.08
3    40.91
4    75.83
Name: ChargeRatio, dtype: float64

In [12]:
# Service bundling
services = ['PhoneService', 'OnlineSecurity', 'OnlineBackup', 
            'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']
df['ServicesCount'] = df[services].apply(lambda x: (x == 'Yes').sum(), axis=1)
df['ServicesCount'].value_counts()

ServicesCount
1    2253
4    1062
3    1041
2     996
5     827
6     525
7     259
0      80
Name: count, dtype: int64

In [13]:
# High-risk flag 
df['HighRisk'] = ((df['Contract'] == 'Month-to-month') & 
                  (df['MonthlyCharges'] > df['MonthlyCharges'].median())).astype(int)
df['HighRisk'].value_counts()

HighRisk
0    5000
1    2043
Name: count, dtype: int64

In [14]:
df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [15]:
df['PaymentMethodType'] = df['PaymentMethod'].apply(
    lambda x: 'Automatic' if 'automatic' in x else 'Manual'
)
df['PaymentMethodType'].value_counts()

PaymentMethodType
Manual       3977
Automatic    3066
Name: count, dtype: int64

In [ ]:
# Function to detect outliers using IQR
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)  # 25th percentile
    Q3 = df[column].quantile(0.75)  # 75th percentile
    IQR = Q3 - Q1                   # Interquartile Range
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Find outliers
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

In [17]:
# filter the numerical fatures
numerical_features = [col for col in df.columns if len(df[col].unique()) > 6 and df[col].dtype in ['int64', 'float64']]
# Remove ServicesCount as it is ordinal column 
numerical_features = [col for col in numerical_features if col != 'ServicesCount']
numerical_features

['tenure', 'MonthlyCharges', 'TotalCharges', 'ChargeRatio']

In [18]:
# Detect outliers for all numerical columns
outlier_dict = {}
numerical_features = [col for col in df.columns if len(df[col].unique()) > 6 and df[col].dtype in ['int64', 'float64']]
for col in numerical_features:
    outlier_dict[col] = detect_outliers_iqr(df, col)

# Display the number of outliers in each feature
print('Number of outliers detected in each feature')
for col, outliers in outlier_dict.items():
    print(f"{col} : {len(outliers)}")

Number of outliers detected in each feature
tenure : 0
MonthlyCharges : 0
TotalCharges : 0
ChargeRatio : 0
ServicesCount : 0

Based on the outlier analysis using IQR method, there are no outliers detected in any of the numerical features.

In [19]:
# export the cleaned dataset for visualization
# df.to_csv('../data/Telco-Customer-Churn-processed.csv', index=False)
# df.to_csv('../dashboard/Telco-Customer-Churn-processed.csv', index=False)